/*start variables*/
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
}
/* End Variables */
/*start global rules*/
body {
    font-family: work-sans, sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*Small devices*/
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
/*Medium devices*/
@media (min-width: 992px){
    .container {
        width: 950px;
    }
}
/*Large devices*/
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}
/*End global rules*/
/*Start components rules*/
.special-heading {
    margin: 0;
    font-weight: 800;
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    letter-spacing: -3px;
}
.special-heading + p {
    text-align: center;
    font-size: 17px;
    margin: -30px 0 0; 
    color: #797979;
}
@media (max-width: 768px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -20px;
    }
}
/*End components rules*/
/*Start header rules*/
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 60px;
}
.header .links {
    position: relative;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links .icon span {
    margin-bottom: 5px;
    height: 2px;
    background-color: #333;
}
.header .links .icon span:first-child {
    width:100%;
}
.header .links .icon span:nth-child(2) {
    width:60%;
    transition: var(--main-duration);
}
.header .links .icon span:last-child {
    width: 100%;
}
.header .links ul {
    position: absolute;
    list-style: none;
    background-color: #f6f6f6;
    width:200px;
    padding: 0;
    margin: 0;
    right: 0;  /*Align to the right*/
    top: calc(100% + 15px); /*below the icon*/
    display: none;
    z-index: 1; /*to show the menue above the other elements*/;
}
/*the above triangle is created */
.header .links ul::before {
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    right: 5px;
    top: -20px; /*above the icon*/
    border-color: transparent transparent #f6f6f6 transparent
}
.header .links:hover ul {
    display: block; /* to show the menue*/
}
.header .links ul li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 15px;
    transition: var(--main-duration);
}
.header .links ul li a:hover {
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}
/*end header rules*/
/*start landing section*/
.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px); /* full screen height minus header height*/
    position: relative;
}
.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*center the text (don't forget minus)*/
    text-align: center;
    max-width: 100%;
}
.landing .intro-text h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    color: var(--main-color);
}
.landing .intro-text p {
    font-size: 19px;
    line-height: 1,8;
}
/* end landing section */
/* start features */
.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.features .container {  /*don't write div before .features */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.features .feat {
    padding: 20px;
    text-align: center;
}
.features .feat i {
    color: var(--main-color);
}
.features .feat h3 {
    font-weight: 800;
    margin: 30px 0; /* top & bottom 30px */
}
.features .feat p {
    color: #777;
    line-height: 1.8;
    font-size: 17px;
}
/* End Features */
/* start services */
.services {
    padding-top: 60px;
    padding-bottom: 60px;
}
.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px; /*to move the services section down*/
.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .srv i {
    flex-basis: 60px;
    color: var(--main-color);
}
}